* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.controls {
    width: 30%;
    background: #ffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
    overflow-x: auto;
}

.controls2 {
    width: 30%;
    background: #ffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
    overflow-x: auto;
}

form {
    padding: 10px;
    /*background-color: #E7E7E7;*/
    margin: 0 auto;
    overflow-x: auto;
}

.two-fields {
    width: 100%;
}

.two-fields .input-group {
    width: 100%;
}

.two-fields input {
    width: 50% !important;
}

ul.navega li {
    display: inline;
}

.lasd {
    width: 100%;
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 53px;
    display: flex;
    justify-content: space-between │ space-around;
    overflow-x: auto;
}

#nombre_1 {
    position: relative;
    left: 300px;
    overflow-x: auto;
}

#apellido_1 {
    position: relative;
    left: 567px;
    overflow-x: auto;
}

#fecha_1 {
    position: relative;
    overflow-x: auto;
}

#telefono_1 {
    position: relative;
    left: 158px;
    overflow-x: auto;
}

#correo_1 {
    position: relative;
    left: 420px;
    overflow-x: auto;
}

#departamento_1 {
    position: relative;
    overflow-x: auto;
}

#municipio_1 {
    position: relative;
    left: 215px;
    overflow-x: auto;
}

#direccion_1 {
    position: relative;
    left: 470px;
    overflow-x: auto;
}

.button {
    background-color: #1f8fc3;
    position: relative;
    border: none;
    color: white;
    padding: 20px 3px;
    font-size: 16px;
    width: 20%;
    padding: 2px;
    overflow-x: auto;
    left: 290px;
}

.butto2 {
    background-color: #008000;
    position: relative;
    border: none;
    color: white;
    padding: 3px 3px;
    font-size: 16px;
    width: 20%;
    padding: 2px;
    overflow-x: auto;
    left: 320px;
}

.butto3 {
    background-color: #FF0000;
    position: relative;
    border: none;
    color: white;
    padding: 3px 3px;
    font-size: 16px;
    width: 20%;
    padding: 2px;
    overflow-x: auto;
    left: 340px;
}

.butto4 {
    background-color: #FF0000;
    position: relative;
    border: none;
    color: white;
    padding: 3px 3px;
    font-size: 16px;
    width: 40%;
    padding: 2px;
    overflow-x: auto;
    left: 340px;
}